@inherits Custom.Hybrid.RazorTyped

<div @Kit.Toolbar.Default(MyItem)>

  <h1>2sxc CDN / CloudFlare App - Instructions</h1>

  <p>
    This App helps you use CloudFlare as a CDN for DNN.
    This is just the greeting/intro, use the other view to configure everything.
  </p>

</div>